<f:if condition="{settings.jobs.groupBy} != 'none'">
    <f:then>
        <f:groupedFor as="groupedJobs" groupBy="relationName" each="{jobs}">
            <f:render section="JobsTable" arguments="{jobs: groupedJobs, header: groupKey}"/>
        </f:groupedFor>
    </f:then>
    <f:else>
        <f:render section="JobsTable" arguments="{jobs: jobs}"/>
    </f:else>
</f:if>

<f:section name="JobsTable">
    <f:if condition="{header}">
        <caption class="h2">{header}</caption>
    </f:if>
    <table class="table table-striped-primary border-primary caption-top">
        <thead class="table-primary">
        <tr>
            <th>
                Stellenbezeichnung
            </th>
            <th>
                Bereich
            </th>
            <th>
                Beschreibung
            </th>
            <th>
                Bewerbungsfrist
            </th>
        </tr>
        </thead>
        <tbody class="table-group-divider table-secondary" >
        <f:for each="{jobs}" as="job">
            <tr class="overlay-link">
                <td>
                    <a href="{job.url.href}" target="_blank" class="card-link">{job.title}</a>
                </td>
                <td>
                    {job.custom_field2}
                </td>

                <td>
                    {job.description}
                </td>
                <td>
                    {job.expires -> f:format.date(format: 'd.m.Y')}
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>
